header {
    background: $primary-color;
    padding: 20px 0;
    
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .branding img {
        max-width: 180px;
    }
    
    nav {
        .menu {
            list-style: none;
            display: flex;
            gap: 20px;
            padding: 0;
            margin: 0;
            
            li {
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    transition: 0.3s;
                    
                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}